@charset "UTF-8";

:root {
    --bs-body-font-family: Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-gutter-x: 1.5rem;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-teal: #0085A1;
    --bs-white: #fff;
    --couleur-bleu_fonce: #092462;
    --couleur-bleu: #102f74;
    --couleur-rouge: #d0001a;
    --couleur-fonce-gris: #333333;
    --couleur-gris1: #666666;
    --couleur-gris2: #999999;
    --couleur-gris4: #c4c4c4;
    --couleur-gris5: #f1f1f1;
    --couleur-blanc: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    /* text-align: var(--bs-body-text-align); */
    background-color: var(--bs-body-bg);
    /* -webkit-text-size-adjust: 100%; */
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
    min-height: 100vh;
    overflow: scroll;
    flex-wrap: wrap;
    
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* max-width: 1440px; */
  min-height: 86vh;
  margin-bottom: 8px;
  }

form {
    width: 500px;
    align-self: center;
    margin-top: 4rem;
    border: 1px solid green;
    padding: 8px;
}

picture,
picture img {
  display: block;
}


.hero {
   /* width: 100vw;
   height: 100vh; */
}

/* .text-hero {
  text-align: left;
  max-width: 60ch;
  line-height: 1.3rem;
} */

.img-hero {
  max-width: 100%;
  min-width: 100%;
  max-height: 25vh;
  object-fit: cover;
  
}

.nav {
    width: 100%;
    background-color: var(--bs-teal);

    & .links {
        display: flex;
        gap: 8px;
        color: var(--bs-white);
        text-decoration: none;
        align-items: center;  
        justify-content: center;      
    }

}

.container {
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.btn {
    letter-spacing: 0.0625em;
    width: 100%;
    padding: 2px;
    margin-top: 6px;
    background: green;
    border-radius: 4px;
    border-color: lightgreen;
    color: white;
}

.form-text {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #6c757d;
  }

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 6px;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-floating {
    position: relative;
}

.form-floating > label {
    padding: 1.25rem 0;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.header_navigation {
    width: 100%;
  }
  
  .header_navigation-haut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--couleur-bleu_fonce);
    padding: 4px;
    padding-left: 4rem;
  }
  
  .navigation_reseaux {
    display: flex;
    gap: 2rem;
  }
  
  .navigation_reseaux a {
    color: #fff;
    text-decoration: none;
  }
  
  .navigation_reseaux a:hover {
    text-decoration: none;
  }
  
  .first-nav {
    width: 100%;
    height: 4vw;
    display: flex;
    background-color: var(--couleur-bleu);
    justify-content: center;
    align-items: center;
  
    .center {
  
      & a {
        color: #fff;
        text-decoration: none;
        margin-right: 8px;
        line-height: 2.7em;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--couleur-noir);
    text-align: center;
  }
  .news-grid {
    display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding-right: 4rem;
      padding-left: 4rem;
  }

  .lord {
    display: flex;
    background-color: var(--couleur-bleu_fonce);
    color: #fff;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .text-lord {
    padding: 0.8em;
    padding-left: 4rem;
    text-align: left;
    max-width: 63.5ch;
    line-height: 1.3rem;
  }

.filtres aside {
  min-width: 190px;
  max-width: 290px;
  color: black;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
}

.flex-article {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
  background-color: var(--couleur-gris5);
  color: var(--couleur-fonce-gris);
  cursor: pointer;
}
.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Styles visuels */
.accordion {
  overflow: hidden;
  color: black;
  background-color: var(--couleur-fonce-gris);
  width: 100%;
}
.tab__label,
.tab__close {
  display: flex;
  color: black;
  background: #d7d7d7;
  cursor: pointer;
  font-weight: 600;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

.effacer {
  color: var(--couleur-gris2);
  text-decoration: underline;
  font-size: 13px;
  line-height: 30px;
  cursor: pointer;
}

.grille {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

}

.carte {
  position: relative;
  background-color: var(--couleur-gris5);
  color: var(--couleur-noir);
  cursor: pointer;
  padding:10px;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  min-width: 260px;
  gap: 12px;

  &:hover {
    transform: scale(1.02);
  }
 
}


.carte header {
  background-color: var(--couleur-gris5);
}

.status {
  justify-content: space-between;
}


.produit-titre {
  width: 100%;
  border-bottom: 1px solid black;

  & h3 {
    line-height: 1.5em;
  }

  & small {
    display: block;
    color: gray;
  }
}

.nomdumembre {
  font-weight: 600;
}

.prix {
  font-weight: 600;
}

.produit-info {
  margin-top: 1em;
  padding-bottom: 4px;
}

.mises {
  padding-top: 5px;
}

.status-rouge {
  font-weight: 700;
  margin-left: 5px;
  align-items: center;
}

.date {
    font-size: 16px;
    font-weight: bold;
    color: black;
    line-height: 1em;
    padding-right: 5px;
    
    & p {
      margin: 0px;
    }
}


  .footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background-color: var(--couleur-bleu_fonce);
    padding: 0.5rem;
    color: #fff;
  }
  
  .footer-bottom div {
    margin: 5px 0;
  }
  
  .footer-bottom a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }

  .header-page {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .top_tri {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  
    & p {
      margin: 0;
      text-align: center;
      margin-left: 5px;
      color: var(--couleur-fonce-gris);
      font-size: qrem;
    }
  }
  
  select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: var(--couleur-fonce-gris);
    padding: 4.5px;
  }

  /* For screens 1023px */
  @media only screen and (min-width: 1023px) and (max-width: 1380px) {
    
    .grille {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
  }
  }
 

   /* For screens between 768px and 1023px */
   @media only screen and (min-width: 885px) and (max-width: 1023px) {
    /* Your styles here */
    .header_navigation-haut {
      display: none;
    }

    .navigation_reseaux {
        display: none;
    }

    .navigation_parametres {
        display: none;
    }

    aside {
      display: none;
    }

    .grille {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
  }

    /* .footer_section_c {
        display: none;
    } */

    .footer_section_f {
        display: none;
    }

    .produit-enchere {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
  }
 
/* For screens between 480px and 767px */
@media only screen and (min-width: 575px) and (max-width: 885px) {
  /* Your styles here */
  .header_navigation-haut {
    display: none;
  }

  .header_navigation {
    min-height: fit-content;
  }
  .navigation_reseaux {
      display: none;
  }

  .navigation_parametres {
      display: none;
  }

  aside {
    display: none;
  }

  .grille {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

  .footer_section_f {
      display: none;
  }

  .produit-enchere {
      display: flex;
      flex-direction: column;
      overflow: hidden;
  }
}
  
@media only screen and (max-width: 575px) {
  /* Your styles here */
  .header_navigation-haut {
    display: none;
  }

  .top_tri{
    display: none;
  }

  .navigation_reseaux {
      display: none;
  }

  .navigation_parametres {
      display: none;
  }

  aside {
    display: none;
  }

  .grille {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom:4px;
}

  .footer_section_c {
      display: none;
  }

  .footer_section_f {
      display: none;
  }

  .produit-enchere {
      display: flex;
      flex-direction: column;
      overflow: hidden;
  }
}


  
